# Dependencies
node_modules/**/*
*/node_modules/
npm-debug.*
yarn-debug.log*
yarn-error.log*

# Environment variables (commented out to include template files)
# .env
# .env.local
# .env.development.local
# .env.test.local
# .env.production.local
# api/.env
# studio/.env
# vercel-api/.env.local

# Expo
.expo/*
dist/
web-build/
web-report/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# Vercel
.vercel

# Typescript
*.tsbuildinfo

# IDE
.vscode/
.idea

# Logs
logs
*.log

# Coverage directory
coverage/
*.lcov

# Temporary folders
tmp/
temp/

# Optional caches
.npm
.eslintcache
.cache
.parcel-cache